<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="border:2px solid black ; padding: 2px; text-align: center; background: pink;">
        <h1>hey guys <%= name%> here :P</h1>
        <p style="font-family: cursive; border: 2px solid black;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam fuga placeat animi necessitatibus, sapiente minima ad illo deleniti quis nemo nostrum quidem aliquid corporis repellat? Atque nam laboriosam neque beatae doloribus facere in fugiat, illum iusto nulla sequi excepturi impedit nesciunt adipisci sed unde reprehenderit dignissimos labore autem deleniti ea.</p>
        <h2>hey this is her Friend <%= frnd%></h2>
    </div>
</body>
</html>